<h1>Projects!</h1>

<%- @projects.each do |project| %>
  <div>
    <h3><%= project.name %></h3>
    <p>by <%= project.user.name %></p>
    <p><%= project.description %></p>
    <p><%= pluralize(project.votes.count, "vote") %>: <%= project.voters.join(", ") %></p>
  </div>
<%- end %>
